<ion-nav-view>

  <ion-header-bar class="bar-energized">
    <img src="img/logo.png" height="40px" style="margin-top:-2px">
    <h1  class="title" style="color:rgb(31,43,98);text-align:center;">Fleet</h1>
  <button class="button button-energized ion-person-add icon-left" style="color:rgb(31,43,98)" ng-click="openModal()">
</button>
  </ion-header-bar>
  
  <ion-content class="has-header"  >
    
   
<form name="myform" >
  <div class="list" >
  <label class="item item-input">
    <span class="input-label" style="color:rgb(31,43,98)" >Name</span>
    <input type="text" placeholder="Name" name="empname" ng-model="login.empname" style="color:rgb(31,43,98)" required>
  </label>
  <label class="item item-input">
    <span class="input-label" style="color:rgb(31,43,98)">Emp ID</span>
    <input type="number" name="empId" placeholder="TCS EMP ID" ng-model="login.empID" style="color:rgb(31,43,98)" required>
  </label>
  <ul>
    <h3 style="color:rgb(31,43,98)">Rate Your Experience</h3>
    <li class="item ">
    <div class="row"> <div class="col-33" style="font-size:15px;color:rgb(31,43,98)">Punctuality:</div> <div class="col-50"><rating  class="ratingLayout" align="center" ng-model="login.rating.taste" max="login.rating.max" ></rating></div><div class="col-30"></div></div>
    </li>
    <li class="item">
    <div class="row"> <div class="col-33" style="font-size:15px;color:rgb(31,43,98)"> Ambiance:</div> <div class="col-50"> <rating class="ratingLayout" align="center" ng-model="login.rating.service" max="login.rating.max" ></rating></div><div class="col-30"></div></div>
    </li>
    <li class="item">
    <div class="row"> <div class="col-33" style="font-size:15px;color:rgb(31,43,98)">Driver Behaviour: </div> <div class="col-50"><rating class="ratingLayout" align="center" ng-model="login.rating.hygine" max="login.rating.max" ></rating></div><div class="col-30"></div></div>
    </li>
    <li class="item">
    <div class="row"> <div class="col-33" style="font-size:15px;color:rgb(31,43,98)"> Driving Skill:</div> <div class="col-50"><rating class="ratingLayout" align="center" ng-model="login.rating.veriety" max="login.rating.max"></rating></div><div class="col-30"></div></div>
    </li>
    <li class="item">
   <div class="row"> <div class="col-33" style="font-size:15px;color:rgb(31,43,98)">Overall Safety:</div> <div class="col-50"> <rating class="ratingLayout"align="center" ng-model="login.rating.quality" max="login.rating.max" ></rating></div><div class="col-30"></div></div>
    </li>
    <li class="item item-input">
     
    <input type="text" placeholder="Comments" ng-model="login.rating.comments" style="color:rgb(31,43,98)">

  
    </li>


</ul>
</div>
  

    <button class="button button-block button-energized" ng-disabled="myform.$invalid||login.rating.taste==0||login.rating.service==0||login.rating.hygine==0||login.rating.veriety==0||login.rating.quality==0" style="color:rgb(31,43,98)" ng-click="login.login()">Submit</button>
    </form>
<div class = "row">
   <div class = "col"></div>
   <div class = "col"><img src="assets/images/TEP.png" width="100" height="100" style="margin-top: -30px"></div>
   <div class = "col"></div>
 </div>
  </ion-content>

</ion-nav-view>